@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@0400,500;600;700;800&display=swap');

.services {
    padding: 80px 0;
    background-color: #ffffff;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color:rgba(1,1,1,0.7);
  padding: 0px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo{
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
.logo img{
  width: 15%;
  height: 10%;
}

  list-style: none;



.header .navegation ul li{
  float: left;
  position: relative;
}

.header .navegation ul li a{
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
  display: block;
  transition: all .2s ease;
}

.header .navegation ul li a:hover{
  background-color:#900314;
}

.header .navegation ul li ul{
  position: absolute;
  right: 0;
  width: 300px;
  background-color: rgba(1,1,1,0.7);
  display: none;
}

.header .navegation ul li ul li a{
  font-size: 15px;
  text-transform: capitalize;
}
.header .navegation ul li ul li ul{
  position: absolute;
  top: 0;
  right: 300px;
}

.header .navegation ul li ul li{
  width: 100%;
}

.header .navegation ul li:hover>ul{
  display: initial;
}

#toggle,
.header label{
  display: none;
  cursor: pointer;
}

.menu{
  width: 45px;
  height: 35px;
}

@media(max-width:950px){
  .header label{
      display: initial;
  }

  .header{
      padding: 20px 10%;
  }

  .header .navegation{
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgba(1,1,1,0.7);
      display: none;
  }

  .header .navegation ul li{
      width: 100;
  }

  .header .navegation ul li a{
      padding: 8px 30px 8px 10%;
  }

  .header .navegation ul li ul{
      position: relative;
      width: 100%;
      left: 0;
  }

  .header .navegation ul li ul li{
      background-color: rgba(1,1,1,0.7);
  }

  .header .navegation ul li ul li ul{
      position: relative;
      width: 100%;
      left: 0;
  }

  #toggle:checked ~ .navegation{
      display: block;
  }
}
#barra-navegacion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#logo{
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-stretch: wider;
}

nav>a{
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav>a:hover{
  color: #900314;
}


.bg-car1 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/imagen5.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-car2 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/img1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-car3 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url(imagenes/img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-icons h3 {
    font-size: 20px;
    font-weight: 800;
}

.product {
    padding: 80px 0;
    background-color: #ffffff;
}
.card img {
    width: 150px;
    height: 150px;
}

.banner {
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: #ffffff;
    background-color: #ffffff;
}

.banner h2 {
font-size: 40px;
text-transform: uppercase;
font-weight: 800;
}
.banner img {
    width: 300ox;
}

#Video{
    background-color: #ffffff;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 17px;
}

p {
    font-size: 17px;
}

a:hover {
    color: #0D6EFD !important;
}

i {
    font-size: 25px;
}

#cuarta-seccion{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.905)), url(imagenes/info1.jpg) no-repeat center/cover;
  background-attachment: fixed;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

#contenedor{
width: 80%;
margin: auto;
display: flex;
flex-direction: row;
}

.mitad{
width: 50%;
}

#cuarta-seccion-der>h3{
text-transform: uppercase;
font-family: 'montserrat',sans-serif;
font-size: 2.5rem;
font-weight: 700;
margin-bottom: 1.5rem;
}

#cuarta-seccion-der>hr{
width: 4.5rem;
border-color: #44bd32;
margin-left: 0;
margin-bottom: 3rem;
}

#cuarta-seccion-der>p{
margin-bottom: 4rem;
}

.footer {
  background-color:#ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
font-family: ' poppins',sans-serif;
background-color: rgb(255, 255, 255);
}

header {
  background-image:url() ;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  position:absolute;
  top: 20px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;

}

.product {
  display: flex;
  align-items: center;
  padding: 200px 0 150px 0;
}

.product {
  font-size: 55px;
  line-height: 70px;
  font-weight: 800;
  width: 40%;
  padding-right: 25px;
  color: antiquewhite;
  margin-bottom: 25px;
}

.header-img {
  height: 60%;
}

.product-menu {
  padding: 50px 0 150x 0;
}

.title {
  color: rgb(0, 0, 0);
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.product {
  display: flex;
  position: relative;
}

.menu-nav {
  display: flex;
  margin-bottom: 45px;
}

.tab {
  margin-right: 20px ;
  text-align: center;
  padding: 10px 35px;
  border-radius: 25px;
  color: blanchedalmond;
  font-size: 16px;
  font-weight: 800;
  background-color: #24252A;
  cursor: pointer;
}

.tab.active {
  background: linear-gradient(90deg, #E70825 0%, #900314 100%);
  color: azure;
}

.tab.active::after {
  content: "";
  position: absolute;
  width: 100%;
}

.tab-content {
  display: none;
}

.tab-content.visible {
  display: initial;
}

.box-container-1,
.box-container-2,
.box-container-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.box-1,
.box-2,
.box-3 {
  background-image: url();
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  display: none;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4){
  display: inline-block ;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4){
  display: inline-block ;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4){
  display: inline-block ;
}

.image {
  margin-bottom: 20px;
  text-align: center;
}

image img {
  width: 180px;
}

.content h3 {
  font-size: 20px;
  color: #24252A;
}

.content p {
  font-size: 15px;
  color: #24252A;
  line-height: 2;
  font-size: 15px;
  padding: 15px 0;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #334;
  color: #24252A;
  font-size: 16px;
}

.btn:hover {
  background-color: crimson;
  border-color: crimson;
  color: #24252A;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #334;
}

.price {
  font-size: 14px;
  color: #24252A;
}

.load-more {
  margin-top: 50px;
  display: inline-block;
  padding: 13px 35px;
  border-radius: 25px;
  border: 1px solid #A0A0A0;
  color: #24252A;
  font-size: 16px;
  cursor: pointer;
}

.load-more:hover {
  background: linear-gradient(90deg, #E70b27 0%, #900314 100%);
  border-color: rgb(220, 20, 60);
  color: #24252A;
}

@media(max-width: 991px) {
  .menu{
    padding: 20px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #f61706;
  }
}